SharpSSH.5.1.TeamCity.user
build
.idea
deployment
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*.log
*.DS_Store
~$*
obj/
Obj/
bin/
Bin/
solr/app/solr/*/data/index/
solr/app/solr/*/data/spellchecker/
*.idea.*	
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log
web.log*
*~
